.Card{
min-height: 241px;
min-width: 382px;
border-radius: 4px;
background: lightgray;
display: flex;
position: sticky;
flex-direction: column;
transition: .2s;

&:first-child{
    margin-bottom: 100px;
    transform:none;
}
&:first-child:hover{
    transform:none;
}
&:hover{
    transform: translateY(-1rem);
}
&:hover~.Card{
 transform: translateY(100px)
}

&__icon-continer{
    display: flex;
    justify-content: space-between;
    margin:.5rem;
    padding:1rem;
}
&__text{
    font-family: PT Mono;
    font-size: 29px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: left;
    margin:0;
}
&__label-name{
    font-family: PT Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    margin:0;
    text-transform: uppercase;
    padding: 0.4rem;
    margin-top:1rem;
}
&__name{
    font-family: PT Mono;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 0.4rem;
    margin:0;
}
&__information-container{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
&__name-container{
    display: flex;
    justify-content: space-between;
}
}