.button{
    margin-top:10rem;
    height: 80px;
    width: 382px;
    border-radius: 8px;
    font-family: PT Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    
}
.main{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}