.button{
    margin-top:3rem;
    height: 80px;
    width: 382px;
    left: 16px;
    top: 799px;
    border-radius: 8px;
    font-family: PT Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    
}