.button{
    // margin-top:2rem;
    height: 80px;
    width: 382px;
    border-radius: 8px;
    font-family: PT Mono;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
}
.button__add{
    margin:0;
    padding:0;
    // background-color: green;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}
.subheading{
    font-family: Source Sans Pro;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #22222299;
    text-transform: uppercase;
}