.card-container{
min-height: 400px;
// flex-wrap: wrap;
display: flex;
justify-content: center;
align-items: center;
gap:20px;
margin-top:8rem;
padding: 1rem;
overflow-y: auto;
margin-bottom:3rem;
scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Hide default scrollbar */
  }
}

.card-container__components{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    // height: 100%;
}
ul.card-container__components{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
