.card-container{
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin-top:6rem;
overflow: scroll;
margin-bottom:3rem;
}
.card-container__components{
    display: flex;
    flex-direction: column; 
    height: 100%;
}
ul.card-container__components{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
